.slick-arrow.slick-arrow-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 86, 132);
  width: 25px;
  height: 25px;
  opacity: 0;
}
.slick-slider.slick-initialized:hover {
  .slick-arrow.slick-arrow-custom {
    opacity: 0.7;
  }
  .slick-arrow.slick-arrow-custom:hover {
    opacity: 1;
    background-color: rgb(15, 86, 132);
  }
}
.slick-arrow.slick-arrow-custom::before {
  display: none;
}
.slick-arrow.slick-next.slick-arrow-custom::before {
  display: none;
}
@media screen and (max-width: 640px) {
  .slick-arrow.slick-arrow-custom {
    display: none !important;
  }
}
